[Unit]
Description=erigon
After=syslog.target network.target

[Service]
User={{ erigon_user }}
Group={{ erigon_group }}
Environment=HOME=/home/{{ erigon_user }}
Type=simple
ExecStart=/bin/sh -c "{{ erigon_current_dir }}/erigon --nat extip:{{erigon_host_ip}} {{erigon_cmdline_args}} >> {{erigon_log_dir}}/erigon.log 2>&1"
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
